# basic data manipulation
pandas==1.1.5
numpy==1.19.4
requests==2.25.0

# visualisations
matplotlib==3.3.3
seaborn==0.11.0

# machine learning, NLP & statistics
scikit-learn==0.23.2
gensim==3.8.3
nltk==3.5


#sklearn==0.0
# threadpoolctl==2.1.0
#beautifulsoup4==4.6.3
#gspread==3.6.0
#joblib==0.16.0
#gspread_dataframe
#google-auth
